// Font Mixins
@mixin serif-font {
  font-family: 'Poppins', sans-serif; 
    font-weight: 100;
}
@mixin script-font {
  font-family: 'Poppins', sans-serif; 
    font-weight: 100;
}

@mixin body-font {
  font-family: 'Poppins', sans-serif; 
    font-weight: 100;
}

@mixin heading-font {
  font-family: 'Poppins', sans-serif; 
    font-weight: 100;
}

